#### This is a data cleaning notebook -- For cleaning animated shows csv file. the visualization would be done in Power BI

#### Import needed libraries

In [1]:
import pandas as pd
import numpy as np
import re
from ast import literal_eval

**Load The file**

In [2]:
df = pd.read_csv('Animated Shows 1987-2022.csv')

**Explore the dataset**

In [3]:
df.head()

,Title,Seasons,Episodes,Country,Premiere Year,Final Year,Original Channel,Technique
0,ABC with Kenny G,TBA,TBA,Canada,2021.0,2021,TVOkids,Flash
1,Abominable and the Invisible City,TBA,TBA,United States,2022.0,2022,Peacock,CGI
2,Batwheels,TBA,TBA,United States,2022.0,2022,Cartoonito / HBO Max,CGI
3,Best & Bester,TBA,TBA,Canada,2022.0,2022,YTV,Flash
4,Builder Brothers' Dream Factory,TBA,TBA,Canada,2022.0,2022,Treehouse TV,CGI

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3477 entries, 0 to 3476
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Title             2477 non-null   object
 1   Seasons           1778 non-null   object
 2   Episodes          2439 non-null   object
 3   Country           2477 non-null   object
 4   Premiere Year     2477 non-null   float64
 5   Final Year        2477 non-null   object
 6   Original Channel  2422 non-null   object
 7   Technique         2472 non-null   object
dtypes: float64(1), object(7)
memory usage: 217.4+ KB

In [5]:
df['Seasons'].unique()

array(['TBA', '2 Toon Series', '65', '33', '26', '23', '22', '20', '19',
       '18', '15', '14', '13', '12', '11', '10', '9', '8', '7', '6', '5',
       '4', '3', '2', '1', nan], dtype=object)

**Inconsistence in the values in seasons such as 'TBA'**

In [6]:
#df['Episodes'].unique()

**Inconsistencies in Episodes column such as 'TBA', '100+ (as of April 1..)', '78[22]' etc**

In [7]:
df['Country'].unique()[1:10]

array(['United States', 'United Kingdom', 'Canada, United States',
       'France', 'China', 'Italy', 'UK', 'French',
       'United States, Canada'], dtype=object)

**Comma separated entries such as 'canada, United States' etc are pretty much and needs to be corrected**

In [8]:
print(df['Premiere Year'])
print(type(df['Premiere Year']))

0       2021.0
1       2022.0
2       2022.0
3       2022.0
4       2022.0
         ...
3472       NaN
3473       NaN
3474       NaN
3475       NaN
3476       NaN
Name: Premiere Year, Length: 3477, dtype: float64
<class 'pandas.core.series.Series'>

**Premiere year is in float**

In [9]:
df['Final Year'].unique()

array(['2021', '2022', 'Present', '2002', '2013', '2008', '2003', '2010',
       '2015', '2004', '2018', '2019', '2020', '1996', '2017', '1990',
       '1997', '2014', '2005', '1998', '1994', '2012', '1991', '2006',
       '2007', '2009', '2011', '1999', '2000', '2001', '1995', '2016',
       '1993', '1992', '1988', '1989', '1987', nan], dtype=object)

**'Present' is not a year type**

In [10]:
print(df['Original Channel'].unique()[10:30])

['Nickelodeon' 'Apple TV+' 'Cartoon Network / HBO Max' 'Disney+' 'Fox'
 'Youku' 'Milkshake!' 'M6' 'Teletoon' 'PBS Kids' 'Adult Swim' 'CBC Kids'
 'CBBC' 'Paramount+' 'Okoo' 'Canal+ Kids' 'Disney Channel'
 'Newgrounds, YouTube' 'Comedy Central'
 'Teletoon (Canada), Treehouse TV (Canada), Discovery Kids (Latin American)']

**Alot of channels are comma separated and also having unneeded adons**

In [11]:
#print(df['Technique'].unique()[10:30])

**Same inconsistent issues is showed here, many separated techniques in one entries**

### Data Cleaning procedure

**Due to the multiple comma separated entries, I will create separate tables for some columns inorder for me to separate those entries**

In [12]:
#Movie title table
#First off, i will drop off every nan rows in the title

df = df.dropna(axis=0, subset=['Title'])

In [13]:
df_title = pd.DataFrame(
   { "id": [i for i in range(1, len(df['Title'])+1)],
    "Title": df['Title'],
    "Seasons": df['Seasons'],
    "Episodes": df['Episodes'],
    "Premiere Year": df['Premiere Year'],
    "Final Year": df['Final Year'],
   }
    )

In [14]:
#Set the index to be id
df_title = df_title.set_index(keys="id")

In [15]:
#Next, we create the countries column
df_country = pd.DataFrame(
    {
        "title_id": df_title.index,
        "Country": df['Country']
    }
)

In [16]:
df_country = df_country.set_index(keys="title_id")

In [17]:
#Create for original channels and Technique
df_channel = pd.DataFrame(
    {
        "title_id": df_title.index,
        "original_channels": df['Original Channel']
    }
)
df_channel = df_channel.set_index(keys="title_id")

df_technique = pd.DataFrame(
    {
        "title_id": df_title.index,
        "technique": df['Technique']
    }
)
df_technique = df_technique.set_index(keys="title_id")

**it is now tidy.**
**Next, each table needs cleaning**

In [18]:
#The title table -- change TBA to 0, replace nan with 0, and 2 Toon Series to 2 from the Seasons column
df_title['Seasons'].unique()

array(['TBA', '2 Toon Series', '65', '33', '26', '23', '22', '20', '19',
       '18', '15', '14', '13', '12', '11', '10', '9', '8', '7', '6', '5',
       '4', '3', '2', '1', nan], dtype=object)

In [19]:
df_title['Seasons'] = df_title['Seasons'].replace(to_replace=['TBA', '2 Toon Series', np.nan], value=[0, 2, 0]).astype('int')

+ For the Episodes column, relace TBA with 0,
+ 10[20], take the value before the opening square bracket
+ 100+ take the value before the +
+ 52 (...) take the value before the bracket
+ 1,458 remove the comma
+ replace nan with 0

In [20]:
#Define a function to carry out the replacement and save to a string
def regex_func(the_list):
    new_list = list()
    pattern_1 = re.compile(r'TBA')
    pattern_2 = re.compile(r'\+?\s?\([A-Za-z0-9\s,\.]+\)')
    pattern_3 = re.compile(r'\[[0-9]+\](\[[0-9]+\])?')
    pattern_4 = re.compile(r',')
    for string in the_list:
        if pattern_1.search(str(string)):
            new_list.append(pattern_1.sub('0', str(string)))
        elif pattern_2.search(str(string)):
            new_list.append(pattern_2.sub('', str(string)))
        elif pattern_3.search(str(string)):
            new_list.append(pattern_3.sub('', str(string)))
        elif pattern_4.search(str(string)):
            new_list.append(pattern_4.sub('', str(string)))
        elif str(string) == 'nan':
            new_list.append(str(0))
        else: 
            new_list.append(str(string))
    return new_list

In [21]:
#Replace the values of Episodes column with the new list
df_title['Episodes'] = regex_func(df_title.Episodes.to_list())

In [113]:
df_title["Premiere Year"] = df_title["Premiere Year"].astype('int')

**For the country table**
+ Turn the column entries to list type value
+ Then use the explode function to split and creat new rows for the entries
+ remove spaces before the countries such as ' United states'
+ change inconsistent names to consistent ones such as United states, USA, US etc
+ remove brackets from some countries such as 'Britain (season 1)
+ A country called 13 is a mistake because the cartoon title is 3-2-1 Penguins which was an American series.

In [22]:
#convert to list types
df_country['Country'] = df_country['Country'].str.split(',')

In [23]:
#use the explode method for unstacking comma separated entries while maintaining their title_id's
df_country = df_country.explode('Country')

In [24]:
#Remove trailing and beginning spaces using strip
df_country['Country'] = df_country['Country'].str.strip()

In [25]:
#df_country['Country'].unique()

In [26]:
#Hardcode replacing
to_replace = ['United States', 'US', 'United Kingdom' ,'Britain (Seasons 1–2)', 'South Korea (season 4)','13', 'Italian','Polish','Australian', 'British','English (New Zealand)', 'Canada (Series 1)', 'Welsh', 'Vietman', 'Spanish (Chile)','Israeli', 'United States (revival)[1]'  ]
value = ['USA', 'USA', 'UK', 'UK', 'South Korea', 'USA', 'Italy', 'Poland', 'Australia', 'UK', 'New Zealand', 'Canada', 'UK', 'Vietnam', 'Chile', 'Israel', 'USA']
df_country['Country'] = df_country['Country'].replace(to_replace=to_replace, value=value)

**The channels column**
+ some channels are in this format 'TV (Canada)' remove the bracket and everything in it
+ some of the channels are separated with / and others with ,-- replace / with ,
+ unstack using explode

In [27]:
#df_channel['original_channels'].unique()

In [28]:
def channel_regex(original_list):
    new_list = list()
    pattern_1 = re.compile(r'\([a-zA-Z0-9-,–\.!\s/]+\)')
    pattern_2 = re.compile(r'/')
    for string in original_list:
        if pattern_1.search(str(string)):
            intermediate_value = pattern_1.sub('', str(string))
            if pattern_2.search(str(intermediate_value)):
                new_list.append(pattern_2.sub(',', intermediate_value))
            else:
                new_list.append(intermediate_value)
        elif pattern_2.search(str(string)):
            new_list.append(pattern_2.sub(',', string))
        else:
            new_list.append(str(string))
    return new_list

In [29]:
# b = 'Peacock (Next Big Thing Is Here!)'
# pattern_6 = re.compile(r'\([a-zA-Z0-9-,–\.!\s/]+\)')
# matches = pattern_6.finditer(b)
# for match in matches:
# 	print(match)

In [30]:
df_channel['original_channels'] = channel_regex(df_channel['original_channels'].to_list())

In [31]:
#df_channel['original_channels'].unique()

array(['TVOkids', 'Peacock', 'Cartoonito , HBO Max', 'YTV',
       'Treehouse TV', 'TBA', 'Netflix', 'Roku', 'Cartoonito',
       'Disney+ , Disney Junior', 'Nickelodeon', 'Apple TV+',
       'Cartoon Network , HBO Max', 'Disney+', 'Fox', 'Youku',
       'Milkshake!', 'M6', 'Teletoon', 'PBS Kids', 'Adult Swim',
       'CBC Kids', 'CBBC', 'Paramount+', 'Okoo', 'Canal+ Kids',
       'Disney Channel', 'Newgrounds, YouTube', 'Comedy Central',
       'Teletoon , Treehouse TV , Discovery Kids ', 'YouTube',
       'Fox , TBS ', 'Cartoon Network', 'Fox, FXX', 'CBBC, Channel 5',
       'Cartoon Network, Adult Swim', 'Showcase',
       'Dailymotion ,Newgrounds ', 'Syndication, CBS',
       'PBS, CBC, Discovery, YouTube', 'Nickelodeon, Nicktoons',
       'ITV, BBC One', 'RTE',
       'Discovery Family, Discovery Kids, Cartoonito', 'Karusel', 'MTV',
       'Netflix ,Discovery Kids ', 'Cartoon Network, Netflix', 'E4',
       'Disney XD', 'The Comedy Network', 'Hulu, Peacock', 'ZDF, Netflix',
       'Fox Kids', 'Nickelodeon, ABC', 'Fox, Comedy Central, Hulu', 'CBS',
       'France 3', 'Nick Jr.',
       'Channel 5, Clan, Cartoon Network, Discovery Kids, Nick Jr, YouTube',
       'nan', 'CBC, HBO',
       'CBeebies , Nick Jr. , PBS Kids , Discovery Kids ', 'TBS',
       'MTV, MTV2', 'YouTube, Mondo Media', 'Treehouse TV, CBS, Noggin',
       'MTV Brasil', 'CITV', 'Family Channel',
       "Kids' WB  , Cartoon Network , Teletoon ",
       'Nick Jr., PBS Kids, YTV, CITV', 'Discovery Kids', 'TRT Çocuk',
       'Schweizer Fernsehen, Cbeebies', 'France 5 , Disney Junior ',
       'ABC', 'France 2', 'Netflix, Discovery Kids ', 'TF1, Teletoon',
       'RTL, Hulu, Peacock', 'TVOntario, PBS Kids, Discovery Kids',
       'M6 , Nickelodeon , Nicktoons ', "Fox Kids, Kids' WB",
       'Disney Junior', 'Canal 5', 'Syndication', "Kids' WB",
       'Disney Junior ', 'CBC, Nickelodeon', 'Direct-To-DVD', 'HBO Max',
       'Piwi+, Canal+ Family, TF1', 'ITV, CITV', 'PBS Kids Go!', 'TVNZ',
       'EBS , syndicated , Universal Kids , Hop! Channel , Netflix , Discovery Kids ',
       'EBS', 'Showtime, Nickelodeon',
       'France 3, Cartoon Network, Boomerang', 'Channel 4',
       'CBC Television', 'Canal J', 'CBeebies, Discovery Kids',
       'MTV Latin America', 'CBeebies', 'Channel 4, BBC Three', 'LWT',
       'ABC, Fox Kids', 'Global, Channel 4',
       'CBS, The Disney Channel, Syndication', 'YouTube, Teletoon', 'FXX',
       'ITV', 'TF1', 'USA Network', 'France 3, Netflix',
       'UPN, Adult Swim', 'Cartoon Network, HBO Max',
       'Teletoon , Family Channel ', 'ČT1, ČT2, ČT :D', 'PBS Kids, TLC',
       'Canal+', 'CTC, Nick Jr', 'Cartoon Network Turkey',
       'KBS, Disney XD', 'Nickelodeon, Nick Jr., Treehouse TV',
       'Toon Disney', 'ZDF, Nick Jr.', 'TF1 , EBS 1 , Disney Channel',
       'Cartoon Network, Tooncast', 'BBC One and BBC Two',
       'Family Channel, France 3', 'Clan TVE , Discovey Kids, YouTube',
       'Nickelodeon, Nicktoons, Ludo , Netflix', 'YTV, Discovery Kids',
       'Disney XD, Disney Channel',
       'Discovery Family, Disney Junior, Discovery Kids', 'TV Tokyo',
       'Cartoon Network , Teletoon ', 'ARD',
       'Family Chrgd , 7TWO , Discovery Kids ', 'Tooniverse', 'E4, YTV',
       'PBS', 'The Disney Channel, ABC',
       'The Hub Network, Discovery Family', 'Nickelodeon, Rai 2',
       'Cartoon Network , DC Universe , HBO Max ',
       'Adult Swim, Adult Swim Video ', 'Direct to video,Qubo',
       'The Disney Channel, Syndication, CBS',
       'Fox Family Channel, Syndication',
       'YTV , Cartoon Network , Disney XD', 'Fox Family Channel',
       'ToonsTV, Discovey Kids ', "Kids' CBC, Discovery Kids", 'HBO',
       'Teletoon, M6, Télétoon',
       'Treehouse TV, Discovery Kids, YTV , TF1 Disn, ey Junior ',
       'ABC2, Discovery Kids , Boing ', 'CBS, YTV', '7TWO, Netflix',
       'Kuwait TV', 'ABC Kids , Disney Junior ',
       'Channel 5 , PBS Kids , Family Jr. ', 'TV3', 'Antenne 2',
       'Fox Kids, CITV', 'Boomerang, Cartoon Network', 'NBC',
       'Teletoon, Disney XD', '4Kids TV', 'CBeebies , Discovery Kids ',
       'The Disney Channel, Syndication', 'DreamWorks Channel, Peacock',
       'Amazon Video', 'The Disney Channel, Syndication, ABC',
       'KBS1, Tooniverse', 'CBCJetix', 'PBS Kids, CBC Television',
       'Seven Network, YTV', 'Channel 5 , Nick Jr. , Discovery Kids ',
       'Star TV', 'Seven Network, ABC3', 'BBC2', 'ABC, Syndication',
       'TVOKids', 'France 3, Gloob , Nat Geo Kids , Biggs ', 'UPN',
       'Sprout', '7TWO', '10 Peach', 'MTV, BBC Two',
       'HBO , The Family Channel, Disney Channel', 'KRO , Tiny Pop ',
       'Treehouse TV , CBeebies , Discovery Kids ',
       'NHK , Rai Yoyo , KiKA , EBS , Milkshake! ',
       "Channel 4, The Children's Channel", 'PBS Kids , Discovery Kids ',
       'Cartoon Network, Boomerang, Boomerang VOD ', 'TV Rá-Tim-Bum',
       'Nicktoons', 'BBC1', 'ITV Network, Channel 5', 'BBC', 'Showtime',
       'Disney XD , Discovey Kids , Tokyo MXTV ', 'Playhouse Disney',
       'PBS Kids , SIC K , Pop ', 'KBS', 'Señal Colombia', 'YTV, The Hub',
       'Treehouse TV , Tiny Pop , Nat Geo Kids ',
       'Geometry Team TV, Nickelodeon', 'Teletoon , Nickelodeon ',
       'Treehouse TV, Nick Jr.', 'UPN, ABC',
       'YTV , Cartoon Network , Disney XD, Nickelodeon', 'Qubo',
       'YTV , Cartoon Network  , Qubo , CBBC and Going Live, Disney XD ',
       'France 5', 'Kinderkanal',
       'Rede Globo, Cartoon Network, Tooncast, Boomerang', 'Hulu',
       'ABC Kids, Family Channel, Playhouse Disney', 'YTV, Fox',
       'Crackle', 'Seven Network', 'YTV, Teletoon, ABC, CBS',
       'Global Television Network', 'Treehouse, PBS Kids',
       'Treehouse TV, PBS Kids', 'ABC3',
       'France 3, Ludo, Boomerang, Pakapaka, Sprout, Nat Geo Kids',
       'HBO Family', 'Boomerang, Disney Channel, YouTube', 'Fox, The WB',
       'Network Ten', 'Disney Channel, Nickelodeon',
       'Syndication, CBS, Toon Disney', 'Syndication, Fox Kids',
       'Teletoon, Cartoon Network', 'The Hub , Hub Network',
       'TV Cultura, TV Brasil, Cartoon Network, Tooncast',
       'Netflix, Adult Swim', 'Netflix , Discovery kids , Clan ',
       'Disney XD, YouTube', 'Hungama TV', 'YTV, CITV',
       'Gulli, France TV', 'Syndication, USA Network', 'KRO',
       'RTVE , Carousel , Clan , Nick Jr. , Nat Geo Kids ',
       'Canal+, TF1, Gulli, Boomerang Africa, Disney XD ',
       'Disney Junior, Disney Channel', 'ABC Me', 'TBS, Syndication',
       'NBC ', 'Rai Yoyo , Nick.Jr , Discovery Kids ',
       "It's Itsy Bitsy Time, Noggin, Universal Kids", 'Jetix',
       'TVOKids , Nick Jr. ', 'Treehouse TV , Discovery Kids ',
       'GMA Network', 'Netflix, 9Go!',
       'Nickelodeon Brazil , TV Rá-Tim-Bum ', 'APTN Kids',
       'Netflix , Peacock ', 'Rai 3, Rai Yoyo', 'CBebbies',
       'The WB, Adult Swim', 'Teletoon, Fox Family Channel',
       'Rai Gulp , RTVE ', 'Rai Gulp',
       'Cartoon Network , Boomerang , Boomerang SVOD ', 'Fox Kids, YTV',
       'CBS, Fox Kids', 'CBeebies, Nat Geo Kids',
       'Discovery Family , iQiyi ', 'Cartoon Network, 4Kids TV',
       "Children's BBC", 'TF1, Rai Yoyo, TV Tokyo',
       'EBS1, Disney XD, Clan', 'KBS2 , JEI TV ', 'Family Jr. , Netflix ',
       'CITV , KiKA , Sprout', 'Gloob', 'Clan TV', 'Cartoon Network, YTV',
       'Teletoon at Night', "SBS, Kids' WB",
       'Netflix, Teletoon, Disney Channel ', 'BBC, TCC', 'Canal 13',
       'BBC One,BBC Two, TCC, YTV', 'Ludo',
       'CBC Kids , Universal Kids , Nat Geo Kids ', 'Hulu , Peacock',
       'PBS, Treehouse TV, Playhouse Disney, CBC Kids', 'BBC One',
       'Moolt, Moolt in Cinema, YouTube', 'ABC Kids', 'Frisbee, iQiyi',
       'Canal+ Family , Télétoon+ , France 5, Zouzous , Pakapaka ',
       'CBS, Teletoon', 'Treehouse TV , Mediacorp , Discovery Kids ',
       'M6, Syndication', 'France 3, Clan', 'Teletoon , Cartoon Network ',
       'The Disney Channel , Syndication , ABC ',
       'Disney Channel , Disney XD ', 'NickToons',
       'YouTube , Discovery Kids ', 'DC Universe',
       'Nickelodeon , Nicktoons ', 'DrinkTV, Syfy',
       'USA Network, Syndication', 'ITV Network', 'The WB', 'ABC1',
       'Disney Channel, Teletoon',
       'Direct-to-Video, YTV, Channel 4, Canal+, Nickelodeon',
       'The History Channel',
       'Cartoonito , Clan , Channel 5 , Discovery Kids ', 'Teletoon, SBS',
       'Nick Jr., Discovery kids', 'Teletoon, Nicktoons',
       'YTV, Disney XD', 'Nickelodeon, Nick Jr.', 'Canal +',
       'PBS Kids , TVOKids , Knowledge Kids , Nat Geo Kids ', 'S4C',
       'France 4', 'Amazon Prime Video, Discovery Kids ',
       'Rai 1, Rai 2, Rai 3, Rai Gulp', 'Teletoon, PBS Kids',
       'Disney XD, Netflix, Cartoon Network', 'Teletoon, Fox Family',
       'La 1', 'YLE, Sky One', 'Discovery Kids, Treehouse TV',
       'M6, Cartoon Network', 'Universal Kids',
       'YTV, Nickelodeon, Teletoon, Disney XD , Disney Channel , Neox Kdz ',
       'BBC One, BBC Two, CBeebies', 'Cartoon Network Brazil, TV Cultura',
       'Canal+ Family', 'Disney Junior, Mango TV', 'Cbeebies, RTÉjr',
       'Bobbypills', 'Treehouse TV, PBS Kids, Discovery Kids',
       'Cartoon Network , France 4 , WDR , Gloob , Discovery Kids ',
       'Jetix, Disney XD', 'RTÉjr', 'RTÉ2', 'YTV , Netflix ',
       'YTV, Canal J', 'BBC Two', 'Rai 3, Rai Gulp, Rai Yoyo',
       'TVOKids, Discovery Kids', 'Teletoon Detour', 'Nickelodeon[32]',
       'Cartoon Network, Boomerang', 'CBBC, BBC', 'Tiny Pop', 'Clan TVE',
       'YTV, First-run syndication',
       'PBS Kids , Discovery Kids , France 5, Zouzous ', 'ITV, Teletoon',
       'ABC Family', 'Canal J, Cartoon Network, Boomerang', 'Rai 2',
       'Fuse', 'ABC Kids , Sprout ', 'The Hub, Discovery Kids',
       'FoxBox,4Kids TV, Cartoon Network', 'ABC, Fox',
       'Nine Network , Teletoon ', 'Hulu, Discovery Kids',
       'CITV, Disney Junior', 'TF1, ZDF, Pakapaka, Discovery Kids',
       'The Family Channel', 'Nickelodeon UK', 'Pogo TV',
       'Syndication, ABC', 'The CW', 'Teletoon, Disney Junior', 'Rai 1',
       'Discovery Family', 'Piwi+, France 5', 'Tencent Video',
       'Network Ten, Eleven', "Children's ITV", 'CW Seed',
       'First-run syndication', 'Disney Channel, Disney XD',
       'BBC One,BBC Two', 'Amazon Prime Video',
       'Nick Jr., Discovery Kids', 'France 3, Disney Channel',
       'KBS1, Disney Channel , Netflix', 'Televisió de Catalunya, KiKa',
       'Disney Channel, Disney+', 'YTV , Pop ', 'Beijing Television',
       'CTV', 'Canal+, CBBC', '9Go! Kids', 'STS, Karusel',
       'Netflix , RTÉjr ', 'CBBC, CBeebies, Cartoonito', 'Toons.TV',
       'HBO Family, YTV', 'PAX, M6', 'TFI', 'TV Cultura',
       'Teletoon, Disney XD, France 4', 'Cartoon Network ', 'Discovery+',
       'EBS Korea, Nickelodeon', 'TF1 , Nick Jr. ',
       'Ici Radio-Canada Télé, M6 ',
       'Disney Channel , France Télévisions',
       'CBC Kids , Nicktoons , ABC ME ', 'BBC Kids',
       '2Spot Studios, RIFF Animation Studio', 'CBeebies, PBS Kids',
       'SBS', 'Seven Network, CBBC, Netflix', 'CMT',
       'YTV , Télé-Québec (Québec), TF1 ', 'Channel 4 , Teletoon ',
       'Global', '9Go!', 'Canal+, Télétoon, TF1', 'YTV ',
       'HBO, HBO Family', 'Amazon Prime, PBS Kids',
       'Teletoon at Night, MTV', 'France Televisions',
       'France 4, Canal J', 'Disney XD , Teletoon ', 'Nine Network',
       'Teletoon, Fox Kids', 'Fox Family', 'Channel Five',
       'PBS Kids, CBS', 'iQIYI', 'TVE', 'Nintendo', 'Syfy',
       'Adult Swim , Télétoon la nuit', 'Family Channel, Nickelodeon',
       'Disney Channel ', 'Fox Kids, Syndication',
       'Teletoon , CBBC , TG4 , Boomerang ', 'TechTV', 'Italia 1',
       'Playhouse Disney, France 3', 'ARD, KiKa',
       'Teletoon, Télétoon, M6 Métropole Télévision',
       'RTÉjr , Tiny Pop , Discovery Kids , TVOKids ',
       'HBO, The Disney Channel', 'Disney XD, Nat Geo Kids', 'The Hub',
       'G4', 'M6, Fox Kids', 'Nickelodeon , Gulli , Nicktoons ',
       'Jetix , ABC Family', 'NBC, Adult Swim', 'CBeebies , ABC Kids ',
       'Teletoon ', 'Family Jr.', '???', 'IFC', 'RTP2', 'Central TV',
       'YTV , ABC , Qubo ', 'DR Ramasjang', 'China Central Television,',
       'Teletoon, YTV, Cartoon Network, Fox Kids, Fox Family', 'TV2',
       'Cartoon Network, BabyFirstTV', 'PlayKids, YouTube',
       'Paramount+ , Nickelodeon', 'Noggin',
       'Family, Radio-Canada, Treehouse TV, TVO Kids',
       'DisneyLife, Disney+',
       'WeTV,Iflix , NET , TV9 , Kapamilya Channel,A2Z , Netflix ',
       'Fusion TV', 'ABC Television', 'KBS1',
       'FOX Family, Fox Kids, CCTV, CBBC', 'Disney Channel Spain', 'TVE1',
       'Cbeebies, Cartoonito', 'Knowledge Kids', 'CITV, Nick Jr.',
       'Canal J, M6', 'Boomerang, Clan', 'Family Chrgd, Cartoon Network',
       "Syndication, Kids' WB", 'Cartoonito, Boomerang', 'Viaplay',
       'Disney Channel, Disney Junior', 'Hulu, City',
       'France 5, Disney Junior', 'CCTV', 'The Disney Channel',
       'Televisión Española', 'TF1, Canal+, YTV', 'Boomerang',
       'France 3, Canal+', 'Crunchyroll', 'CBBC, CBeebies',
       'Disney XD, Teletoon', 'AMC+', 'Teletoon, France 3',
       'BBC Kids, BBC1, BFBS, YTV, SSVC Television, TV2', 'CBBC, TCC',
       'Pop UK', 'Raisat Ragazzi, Rai 3, Rai Yoyo', 'The Wb',
       'Teletoon , 9Go! ', 'Playboy TV', 'CBS, Treehouse TV', 'ITV1',
       'France 2, France 3', 'Clan', 'VPRO', 'Direct-to-Video',
       'France 2, BBC, Teletoon, RTP2, Canal Panda', 'DeA Kids',
       'Fox Family Channel, Nickelodeon, Disney Channel',
       'Fox Family Channel, CBBC, Nickelodeon', 'CBeebies , Sprout ',
       'Super RTL , Discovery Family , HBO Max', 'Hub Network',
       'YouTube, Newgrounds', 'Junior', 'Facebook , Instagram',
       'TF1 , Clan ', 'O!, Carousel', 'Syndication, TF1',
       'CCTV-1, CCTV-14', 'M8, Disney XD', 'BBC, Sky One', 'ABC, NBC',
       'Disney+ , Discovery Kids', 'Nickelodeon , Paramount+',
       'YTV, Syndication', 'Seven Network, Rai Fiction', 'FX', 'Tubi',
       'Cartoon Network Nordic , YouTube ', 'Discovery Kids , Pop ',
       'Hanna-Barbera', 'BBC TV', 'TVE2', 'ABC, Direct-to-video',
       'CITV, Nickelodeon', 'Treehouse', 'Teletoon, Super RTL',
       'Antenne 2, Radio-Canada', 'The Hub , Teletoon ',
       'Disney Channel, Yle Areena', 'TBNWTIU', 'Syndication, M6',
       'BBC1 BBC Two ', 'SVT1, SVT2', 'Cartoonito , Netflix',
       'ABC, Nick Jr.', 'EBS1 , CBeebies ', 'MeTV',
       'Teletoon, Cartoon Network Canada', 'KBS2', 'Canal Famille',
       'ZDF, KiKa , Disney Channel, RAI ', 'AMC', 'CBeebies, BBC Two',
       'The WB, FOX', 'Pakapaka', 'Channel 4, BBC One', 'Fox Family, YTV',
       'BBC, CBeebies', 'Channel 5 , Junior ', 'Gulli',
       'TVN, Cartoon Network', 'Milkshake!, PBS Kids',
       'Network Ten, PBS Kids Go!',
       'Raisat Ragazzi, Rai 3, Rai Gulp, Rai Yoyo',
       'Amazon Video, TVOKids', 'Nicktoons Network', 'FX, FXX',
       'Rai Yoyo, Nat Geo Kids', 'Netflix, CBeebies, Nick Jr.',
       'Netflix, YouTube', 'Nick Jr', 'EBS, M6, BBC',
       'Boomerang Australia, 9Go!', 'CITV, 4Kids TV', 'BET',
       'Channel [V] Thailand', 'Nickelodeon, Treehouse', 'TV Brasil',
       'YTV, GMA Network', 'SBT', 'Turner Classic Movies', 'LATV', 'Pogo',
       'PBS Kids, CBeebies, Discovery Kids', 'Jetix, TF1',
       'Noggin, Teledeporte', 'Nickelodeon, Treehouse TV', 'KiKa',
       'RTEjr', 'History', 'Nickelodeon Brazil, SBT, Teletoon',
       'Network Ten, CBC', 'K2', 'Treehouse TV, CBeebies', 'TVOntario',
       'ANN', 'France 3, Canal J, Teletoon, Cartoon Network',
       'Family Channel, YouTube', 'Ancol Dreamlight',
       'YTV, Nicktoons Network', 'Televisa', 'Starz', 'KBS2, TVE2',
       'HBO, Treehouse TV, HBO Max', 'Family Chrgd', 'Nick at Nite',
       'TBS, Adult Swim', 'Mikeshake!', 'Family Channel, Five',
       'Teletoon, France 2', 'MTV2', 'Spike TV',
       'Nickelodeon Sonic, Rishtey', 'WCBS-TV', 'Rai 2, G4TV', 'Eleven',
       'YTV, Disney Channel', 'Nickelodeon Sonic',
       'CBeebies, Treehouse TV', 'NRK1', 'MBC', 'VH1', 'KBS2, CCTV-6',
       'CITV, Nickelodeon UK, and Nicktoons UK', 'Facebook Watch',
       'Nat Geo Kids ', 'Channel 5', 'Inspidea', 'CBeebies, Family Jr.',
       'ABC Kids, TV2, CBeebies, Netflix', 'Dreamtoon', 'RCTI',
       'TVNZ 2 , CBeebies , Nick Jr. ', 'Sprout, Nat Geo Kids', 'Rai 3',
       'Netflix, YTV', 'Youtube', 'NITV',
       'BBC Two, CBeebies, Discovery Kids', 'Discovery Kids India', 'Bip',
       'Carousel', 'ZDF', 'CITV , Channel 5 ', 'KRO, Noggin', 'Cinemax',
       'TFOU TV, Discovery Kids', 'Canal+ and EBS',
       'Toon Disney Rai 2 , Antena 3 ', 'Nickelodeon India',
       'CBC Television, Nickelodeon', 'Playhouse Disney, Disney Junior',
       'RTBF, TéléTOON+, Cartoon Network, Boomerang',
       'Nickelodeon, Nicktoons Network', 'Nickelodeon, YTV, Nicktoons',
       'BBC Two, CBeebies', 'RTP 2', 'The N', 'ZooMoo Network',
       'Nickelodeon Brazil', 'Mega Channel', 'Sony YAY!',
       'The Comedy Channel', 'TVC', 'Gloob, TVN', 'Viceland',
       'La Trois, Discovery Kids', 'France 3, Boomerang',
       'Network Ten, YTV', 'Discovery Kids, PBS Kids',
       'CBeebies, Nick Jr', 'Rai Yoyo', 'CBC Television, Discovery Kids',
       'Knowledge Network, TVOKids', 'TVtropolis', 'France 3, Teletoon',
       'CBC', 'PBS Kids, Nat Geo Kids', 'Teletoon, Logo',
       'France 3, Cartoon Network',
       'Nickelodeon, Nick Jr., BBC, Discovery Kids', 'YTV, Pakapaka',
       'France 3, Seven Network', 'KiKa, ARD', 'Network Ten, The Hub',
       'Nickelodeon Sonic, Rishtey, Nick HD+', 'France 2, Teletoon',
       'Family, Disney XD', 'PBS Kids, Sprout',
       'Gulli, Teletoon, Canal J', 'Cartoon Network, Disney+', 'E!',
       'ABS-CBN', 'ABC Family, Jetix',
       'PBS Kids, CBC Kids, Discovery Kids', 'Current TV', 'ABC2',
       'TVB Jade', 'Discovery Kids ', 'Discovery Kids, Teletoon',
       'ABC, CBeebies, Playhouse Disney, Discovery Kids', 'BBC One, CBBC',
       'Channel 5, Cartoon Network', 'TF1, La Trois',
       'Abel Studios channel', 'Myx TV',
       'Sprout, Universal Kids, Discovery Kids',
       'Disney Channel, ABC Kids', 'Jetix, France 3, Teletoon',
       'Cartoon Network , Boomerang ', 'The Movie Network',
       'Disney Channel, YTV', 'Spike', 'EBS, Nick Jr.',
       'Discovery Kids, NBC', 'Sky Sports F1', 'ZooMoo', "Kids' CBC",
       'Amazon', 'YTV, 4Kids TV', 'Universal Kids, Peacock',
       'Discovery Kids, TLC', 'Rai 2, Nickelodeon',
       'PBS Kids Go!,PBS Kids', 'PBS Kids, Discovey Kids',
       'CBC Television, Toon-A-Vision, Qubo, Cartoon Network, Super RTL, Gloob',
       'ABC3, Pop', 'KBS2 and KBS1', 'CBBC, RTÉjr', 'Pop'], dtype=object)

In [32]:
#Unstacking to rows
#convert to list types
df_channel['original_channels'] = df_channel['original_channels'].str.split(',')

In [36]:
#use the explode method for unstacking comma separated entries while maintaining their title_id's
df_channel = df_channel.explode('original_channels')

In [38]:
#Remove trailing and beginning spaces using strip
df_channel['original_channels'] = df_channel['original_channels'].str.strip()

In [48]:
#df_channel['original_channels'].unique()

In [40]:
to_replace = ['Nick Jr', 'BBC One', 'BBC Two', 'BBC1 BBC Two']
value = ['Nick Jr.', 'BBC1', 'BBC2', 'BBC One and BBC Two']
df_channel['original_channels'] = df_channel['original_channels'].replace(to_replace=to_replace, value=value)

**The technique table has similar inconsistencies like the channels column**
+ some contain information with brackets, for this analysis, those extra info would be removed  
+ some techniques are separated with 'and', '/' and ',' which would be coverted to ','
+ unstacking the rows

In [90]:
def technique_regex(original_list):
    new_list = list()
    pattern_1 = re.compile(r'\([a-zA-Z0-9-,\?;—–\.!\s/"]+\)')
    pattern_2 = re.compile(r'/|and|;')
    for string in original_list:
        if pattern_1.search(str(string)):
            intermediate_value = pattern_1.sub('', str(string))
            if pattern_2.search(str(intermediate_value)):
                new_list.append(pattern_2.sub(',', intermediate_value))
            else:
                new_list.append(intermediate_value)
        elif pattern_2.search(str(string)):
            new_list.append(pattern_2.sub(',', string))
        else:
            new_list.append(str(string))
    return new_list

In [89]:
# g = '(first four seasons; Season 5 uses stop-motion)'
# patterns = re.compile(r'\([a-zA-Z0-9-,\?;—–\.!\s/"]+\)')
# matches = patterns.finditer(g)
# for match in matches:
#     print(match)

<re.Match object; span=(0, 47), match='(first four seasons; Season 5 uses stop-motion)'>

In [93]:
df_technique['technique'] = technique_regex(df_technique['technique'].to_list())

In [95]:
#Unstacking to rows
#convert to list types
df_technique['technique'] = df_technique['technique'].str.split(',')

In [97]:
#use the explode method for unstacking comma separated entries while maintaining their title_id's
df_technique = df_technique.explode('technique')

In [98]:
#Remove trailing and beginning spaces using strip
df_technique['technique'] = df_technique['technique'].str.strip()

In [99]:
df_technique['technique'].unique()

array(['Flash', 'CGI', 'Traditional', 'Stop-Motion', 'Live-Action',
       'later Flash', 'Cutout animation', 'Toon Boom Harmony',
       'Syncro-Vox', 'Live-action', 'Stop motion', 'Stop-motion',
       'Traditional  Flash', 'Live Action', 'Claymation', 'Live action',
       'Stop Motion', 'Toon Boom', 'Toon Boom[1]', 'ToonBoom Harmony',
       'Rotoscope', 'Toon-Boom', 'Animation', 'nan', 'Toom Boon',
       'Mostly traditional'], dtype=object)

In [109]:
to_replace=['later Flash', 'Animation', 'Stop-Motion', 'Stop motion','Live action' ,'Live-Action', 'Live-action','Stop-motion','Mostly traditional','Toom Boon','Toon-Boom', 'Toon Boom[1]','Toon Boom Harmony', 'ToonBoom Harmony']
value = ['Flash','2D Animation', 'Stop Motion', 'Stop Motion','Live Action' ,'Live Action','Live Action', 'Stop Motion', 'Traditional', 'Toon Boom', 'Toon Boom', 'Toon Boom', 'Toon Boom', 'Toon Boom']
df_technique['technique'] = df_technique['technique'].replace(to_replace=to_replace, value=value)

         technique
title_id
1            Flash
2              CGI
3              CGI
4            Flash
5              CGI

## Export as csv

In [118]:
df_title.to_csv('title_table.csv')
df_country.to_csv('country_table.csv')
df_channel.to_csv('channel_table.csv')
df_technique.to_csv('technique_table.csv')